$blue: hsl(246, 80%, 60%);
$light-red : hsl(15, 100%, 70%); // (work)
$soft-blue : hsl(195, 74%, 62%); //(play)
$light-rd : hsl(348, 100%, 68%); // (study) 
$lime-green : hsl(145, 58%, 55%); // (exercise)
$violet : hsl(264, 64%, 52%); // (social)
$soft-orange: hsl(43, 84%, 65%); // (self care)


// - Very dark blue: hsl(226, 43%, 10%)
// - Dark blue: hsl(235, 46%, 20%)
// - Desaturated blue: hsl(235, 45%, 61%)
// - Pale Blue: hsl(236, 100%, 87%)